<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation du mot de passe</title>
  </head>
  <body>
    <h1>Bonjour {{user.pseudo}}</h1>
    <p>Veuillez cliquer sur le lien ci-dessous pour ouvrir le formulaire de réinitialisation de votre mot de passe : </p>
    <a href="{{resetPasswordUrl}}">Réinitialiser le mot de passe</a>
  </body>
</html>