<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation du mot de passe</title>
  </head>
  <body>
    <h1>Bonjour {{user.pseudo}}</h1>
    <p>ci dessous votre code pour la modification de votre mot de passe :
      {{code}}
    </p>

  </body>
</html>