<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Verification email</title>
  </head>
  <body>
    <h1>Bonjour {{user.pseudo}}</h1>
    <p>Pour confirmer votre inscription un code vous a été envoyé</p>
    <p>Veuillez insérer ce code dans la page de l'application : <b>{{ user.verificationCode }}</b></p>
  </body>
</html>